@using Microsoft.AspNetCore.Identity
@using Logistics_System.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ITradersService tradersService

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var userId = this.User.Id();

        var isUserTrader = tradersService.IsUserTrader(userId);

        var userIsAdmin = this.User.IsAdmin();

        if (isUserTrader || userIsAdmin)
        {
<li class="nav-item">
    <a class="nav-link text-dark ml-5" asp-area="" asp-controller="Loads" asp-action="Add">Add Load</a>
</li> }

@if (isUserTrader && !userIsAdmin)
{
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Loads" asp-action="MyLoads">My Loads</a>
</li> }
                else if (!userIsAdmin)
                {

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Ad" asp-controller="Traders" asp-action="Become">Become Trader</a>
</li> }
                else if (userIsAdmin)
                {

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Orders" asp-action="UnAccomplished">Administration</a>
</li>}

                <li class="nav-item text-dark dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="true">Account</a>
                    <div class="dropdown-menu">
                        <a class="nav-link text-dark ml-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Account</a>
                        <a class="nav-link text-dark ml-2" asp-area="" asp-controller="Reviews" asp-action="MyReviews">My Reviews</a>
                        <a class="nav-link text-dark ml-2" asp-area="" asp-controller="Questions" asp-action="MyQuestions">My Questions</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link text-dark ml-2" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                    </div>
                </li> }
                            else
                            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>}
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Favourites" asp-action="MyFavourites"><i class="far fa-heart"></i> Favourites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="DeliveryCart" asp-action="MyDeliveryCart"><i class="fas fa-shopping-cart"></i> Cart</a>
    </li>
</ul>
